@import 'variables';
@import 'reset';
@import 'mixins';
@import 'fonts';
@import 'mobile';
@import 'navbar';
@import 'debugger';
@import 'graph';

.show-print {
	display: none !important;
}

.hide-screen {
	display: none !important;
}

.show-screen {
	display: block !important;
}
