<div class="col-sm-4" id="secondPanel">
	<div class="panel panel-default" style="min-height:310px">
		<div class="panel-body">
			<b>Most Compared With</b>
			<div style="float:right">
				<a href="#"><i class="glyphicon glyphicon-cog" style="padding-right:1em"></i></a>
				<a href="#" onclick="reloadCurrentTab('secondPanelText' , 'secondPanel')"><i class="glyphicon glyphicon-repeat" style="padding-right:1em"></i></a>
				<a data-toggle="collapse" data-parent="#accordion" href="#secondPanelText"><i class="glyphicon glyphicon-minus" style="padding-right:1em"></i></a>
				<a href="#" onclick="removeText('secondPanelText')"><i class="glyphicon glyphicon-remove" style="padding-right:1em"></i></a>
			</div>
			<div id="secondPanelText" class="panel-collapse collapse in">
				<p>This is Second Panel of Compared With</p>
			</div>
		</div>
	</div>
</div>

