<div class="col-sm-8" id="fourthPanel">
	<div class="panel panel-default" style="min-height:300px">
		<div class="panel-body">
			<b>Total Quotes</b>
			<div style="float:right">
				<a href="#"><i class="glyphicon glyphicon-cog" style="padding-right:1em"></i></a>
				<a href="#" onclick="reloadCurrentTab('fourthPanelText' , 'fourthPanel')"><i class="glyphicon glyphicon-repeat" style="padding-right:1em"></i></a>
				<a data-toggle="collapse" data-parent="#accordion" href="#fourthPanelText"><i class="glyphicon glyphicon-minus" style="padding-right:1em"></i></a>
				<a href="#" onclick="removeText('fourthPanelText')"><i class="glyphicon glyphicon-remove" style="padding-right:1em"></i></a>
			</div>
			<div ng-controller="lineController" id="fourthPanelText" class="panel-collapse collapse in">
				
			</div>
		</div>
	</div>
</div>