<div class="col-sm-8" id="firstPanel">
	<div class="panel panel-default" style="min-height:310px">
		<div class="panel-body">
			<b>Compared With</b>
			<div style="float:right">
				<a href="#"><i class="glyphicon glyphicon-cog" style="padding-right:1em"></i></a>
				<a href="#" onclick="reloadCurrentTab('firstPanelText' , 'firstPanel')"><i class="glyphicon glyphicon-repeat" style="padding-right:1em"></i></a>
				<a data-toggle="collapse" data-parent="#accordion" href="#firstPanelText"><i class="glyphicon glyphicon-minus" style="padding-right:1em"></i></a>
				<a href="#" onclick="removeText('firstPanelText')"><i class="glyphicon glyphicon-remove" style="padding-right:1em"></i></a>
			</div>
			<div ng-controller="donutController" id="firstPanelText" class="panel-collapse collapse in">

					<p>This is the first panel</p>
			</div>
		</div>
	</div>
</div>